{{#if data}}
  <div class="title" contenteditable="false">{{data.title}}</div>
  <div class="camera-wrapper" contenteditable="false">
    {{#each data.images as |img |}}
      <div class="thumb" contenteditable="false">
        <span class="delete" {{ action "delete" img index }}>x</span>
        <img src= {{img}} alt="" />
      </div>
    {{/each}}
    {{#if (eq type "explore")}}
      {{#if hasFlash}}
        <div class="btn-camera" {{ action "toggleModal" }}>
          {{fa-icon "picture-o"}}
        </div>
      {{else}}
        <label for= {{uniqId this}} class="btn-camera m0">
          {{fa-icon "file-image-o" size=1}}
        </label>
        <input type="file" capture="camera" accept="image/*" id= {{uniqId this}} name= {{uniqId this}} onchange= {{action "upload" }} class="hidden">
      {{/if}}
    {{/if}}
  </div>

  <ul id= {{data.title}} contenteditable= {{editable}}>
    {{#each rows as |row|}}
      <li>{{row}}</li>
    {{/each}}
  </ul>

  {{#if (eq type "explore")}}
    {{#if (gt data.knowledge.length 0)}}
      <ul class="knowledge" contenteditable="false">
        <b>Förkunskaper</b>
        {{#each data.knowledge as |prev|}}
          <li>{{prev}}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}
{{/if}}

{{#if camera}}
  {{#if cameraVisible}}
    {{#modal-dialog close="toggleModal" container-class="camera-modal" translucentOverlay=true}}
      {{camera-component index=index close=toggleModal self=this }}
    {{/modal-dialog}}
  {{/if}}
{{/if}}