<div class="mission-updater p1">
  <form {{action 'save' on='submit'}}>
      <div class="mb1">
    {{#if selected.id}}
      <b class="pb1">Redigera uppdrag</b>
    {{else}}
      <b class="pb1">Skapa nytt uppdrag</b>
    {{/if}}
        </div>
    <input type="text" name="name" placeholder="Förnamn" value= {{selected.first-name}}>
    <input type="text" name="name" placeholder="Efternamn" value= {{selected.last-name}}>

    <div class="image mb1">
      <select class="select-image mb1" name="image" required ></select>
    </div>

    <div class="structures">
      <select class="select-structure-multiple mb1" name="structures" multiple="multiple"></select>
    </div>
    
    <textarea name="body" class="mt1" rows="8" cols="40" placeholder="Beskrivning">{{selected.body}}</textarea>
    
    <div class="display-flex">
    {{#if selected.id}}
      <input class="new-update-button float--center"  type="button" name="name" value="Skapa nytt" {{action "clear"}}>
    {{/if}}

    {{#if selected.id}}
      <input type="submit" name="name" value="Spara förändringar" class="float--center new-update-button">
    {{else}}

      <input type="submit" name="name" value="Skapa" class="new-update-button">

    {{/if}}
    </div>
  </form>
</div>