<div class="information">
  {{#each structures as |data index|}}
    {{#if (eq missing 2)}}
      {{structure-block type=type classNames="height-full" camera=camera index=index}}
    {{else}}
      {{structure-block type=type camera=camera index=index}}
    {{/if}}
  {{/each}}
  {{#if (eq missing 1)}}
    {{structure-block }}
  {{/if}}


  {{#if (eq missing 3)}}
    {{structure-block }}
    {{structure-block }}
    {{structure-block }}
  {{/if}}
</div>
